@media only screen and (min-width: 0px) {
    .plant-text {
        font-size: 3vw;
    }

    .plant-image {
        width: 15vw;
        height: 15vw;
    }

    .icon {
        font-size: 5vw !important;
        z-index: 10;
    }
}

.slide-right-enter{
    opacity: 0;
    transform: translateX(-300%);
    pointer-events: none;
}
.slide-right-enter-active{
    opacity: 1;
    transform: translateX(0%);
}
.slide-right-exit{
    opacity: 1;
    transform: translateX(0%);
    pointer-events: none;
}
.slide-right-exit-active{
    opacity: 0;
    transform: translateX(300%);
}
.slide-right-enter-active,
.slide-right-exit-active{
    transition: opacity 500ms, transform 500ms;
}


.slide-left-enter{
    opacity: 0;
    transform: translateX(300%);
    pointer-events: none;
}
.slide-left-enter-active{
    opacity: 1;
    transform: translateX(0%);
}
.slide-left-exit{
    opacity: 1;
    transform: translateX(0%);
    pointer-events: none;
}
.slide-left-exit-active{
    opacity: 0;
    transform: translateX(-300%);
}
.slide-left-enter-active,
.slide-left-exit-active{
    transition: opacity 500ms, transform 500ms;
}

@media only screen and (min-width: 600px) {
    .plant-text {
        font-size: 20px;
    }

    .plant-image {
        width: 100px;
        height: 100px;
    }

    .icon {
        font-size: 40px !important;
    }
}

@media only screen and (min-width: 900px) {
    .plant-text {
        font-size: 30px;
    }

    .plant-image {
        width: 150px;
        height: 150px;
    }

    .icon {
        font-size: 60px !important;
    }
}

@media only screen and (min-width: 1200px) {
    .plant-text {
        font-size: 40px;
    }

    .plant-image {
        width: 200px;
        height: 200px;
    }

    .icon {
        font-size: 80px !important;
    }
}